body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont;
  background: #f5f5f7;
}

.app {
  max-width: 390px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

button {
  background: #ff5c8a;
  color: white;
  border: none;
  padding: 15px;
  width: 100%;
  border-radius: 14px;
  font-size: 16px;
}
